{% extends "base.html" %}

{% block content %}
  <h1>Welcome to the Company Task Manager Django Project!</h1>
    <p>This powerful web application simplifies task management within your company or organization, making it easier than ever to collaborate and stay organized. Here's a brief guide on how to use it:</p>

    <h4>1. Registration and Login:</h4>
    <ul>
        <li>If you're a new user, start by registering an account. Click on the "Register" link or button on the homepage.</li>
        <li>Fill in the required information, such as your username, email, and password.</li>
        <li>Once registered, you can log in securely using your credentials by clicking on the "Login" link or button.</li>
    </ul>

    <h4>2. Task Creation:</h4>
    <ul>
        <li>After logging in, you can create new tasks by clicking on the "Create Task" button on tasks page.</li>
        <li>Provide details for the task, including the title, description, due date, and assignees.</li>
        <li>Click "Submit" to add it to the system.</li>
    </ul>

    <h4>3. Task Status Tracking:</h4>
    <ul>
        <li>Keep track of task statuses to monitor progress.</li>
    </ul>

    <h4>4. Task Searching:</h4>
    <ul>
        <li>Easily find specific tasks by using the search feature.</li>
        <li>Enter the task title or keywords in the search bar to locate tasks quickly.</li>
    </ul>

    <h4>5. User Management (Admins Only):</h4>
    <ul>
        <li>Administrators have additional privileges to manage user accounts and roles.</li>
        <li>Access the admin panel (superuser credentials required) to control user accounts and task types.</li>
    </ul>
{% endblock %}
